torch>=2.1.0
torchvision>=0.16.0
numpy
Pillow
tqdm
tensorboard
omegaconf
scikit-learn
matplotlib
transformers
deepspeed
flash-attn
xformers
einops
timm
ftfy
regex
peft
scipy
pandas
pydicom
opencv-python
